:root {
    --primario: #C0392B  ;
    --primarioOscuro: #922B21 ;
    --secundario: #AEB6BF;
    --secundarioOscuro: #717D7E;
    --blanco:#fff;
    --negro:#000;

    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Globales */
body {
    background-color:var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}
/* se entregan valor para todos los parrafos */
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
/* los enlaces le sacamos los interlineados */
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
/* seleccionamos tods los titulos y los centramos
agregamos color y la fuente del texto */
h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}